

body {
    font-family: 'Roboto Mono', monospace;
    color: rgba(0,0,0,.5);
    text-align: center;   
    text-transform: uppercase;
    letter-spacing: .5em;
    background-image: linear-gradient(to right, #ffffff , #ffffff);
    margin: 0;
    padding: 0;
}

h1 {
    width: 100%;
    font-size: 50px;
}

h3 {
    width: 100%;
}

button {
   text-align: center;
   display: flex;
   margin: 20px auto;
}